

<div class="scrollable">
  <h1 class="scrollable-header app-name">UI 테스트</h1>  
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
   
      <a ng-if="!user" class="list-group-item" href="#/">로그인 <i class="fa fa-chevron-right pull-right"></i></a>
 
	  <a ng-if="user"class="list-group-item" href="#/mypage">내 정보 <i class="fa fa-chevron-right pull-right"></i></a>  
      <a class="list-group-item" href="#/schedule">일정 관리 <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/alarm"> 알람 설정 <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>
